<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - 百汇制造</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">MMall</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <div class="panel">
                <h1 class="panel-title">关于我们</h1>
                <div class="panel-body" style="font-size:20px">　盐城市百汇电热科技有限公司是专业从事研究开发、生产经营各类电加热元件，电加热设备的高新技术企业。本公司生产设备齐全、工艺流程完善、科研技术力量雄厚、具有优良的产品开发设计能力和丰富的生产经验，已积累了很多国内外客户！主要生产的产品：1、电热管系列：单头电热管、U(异)型电热管、翅片式电热管法兰式电热管、石英电热管、辐射电热管等；
              2、电加热器系列：铸造件加热器、不锈钢（云母）加热器、陶瓷加热器、石英加热器、碳化硅加热器、硅橡胶加热器、辐射器等；
             3、电加热设备系列：管道式加热器、风道式加热器、空气加热器、导热油加热器、恒温电热板、电烤箱等。 
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>