<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - 百汇电热</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">百汇电热</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <div class="panel">
                <h1 class="panel-title">联系我们</h1>
                <div class="panel-body">
                    <div class="user-info">
                        <div class="form-line">
                            <span class="label">联系人：</span>
                            <span class="text">李女士</span>
                        </div>
                        <div class="form-line">
                            <span class="label">电&nbsp;&nbsp;&nbsp;&nbsp;话：</span>
                            <span class="text">0515-88608868</span>
                        </div>
                        <div class="form-line">
                            <span class="label">传&nbsp;&nbsp;&nbsp;&nbsp;真：</span>
                            <span class="text">0515-88608868</span>
                        </div>
                        <div class="form-line">
                            <span class="label">邮&nbsp;&nbsp;&nbsp;&nbsp;编：</span>
                            <span class="text">224022</span>
                        </div>
                        <div class="form-line">
                            <span class="label">公司主页：</span>
                            <span class="text">www.ycbaihui.cn</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>