<!DOCTYPE html>
<html lang="en">
  <head> 
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - 百汇电热</title>

    </head>

    <body>
        <%= require('html-loader!./layout/nav.html')  %>
       <%= require('html-loader!./layout/header.html')  %>
     <div class="g-banner">
        
        <div class="menuContent">
          
        </div>

        <div class="banner-con">
            <div class="loading"></div>
        </div>
    </div>

    <div class="w">
        <div class="floor-wrap">
            <h1 class="floor-title">F1 电热管 加热管系列</h1>
            <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100006">
                            <span class="floor-text">单头加热管</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="单头加热管" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100007">
                            <span class="floor-text">U型双头加热管</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-2.jpg') %>" alt="U型双头加热管" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100008">
                            <span class="floor-text">石英电热管</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-3.jpg') %>" alt="石英电热管" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100009">
                            <span class="floor-text">螺旋式电热管</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-4.jpg') %>" alt="空调" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100010">
                            <span class="floor-text">防爆电热管</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-5.jpg') %>" alt="热水器" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-wrap">
                <h1 class="floor-title">F2 电加热板系列</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100011">
                            <span class="floor-text">铸铜加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-1.jpg') %>" alt="铸铜加热板" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100012">
                            <span class="floor-text">铸铁加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-2.jpg') %>" alt="铸铁加热板" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100013">
                            <span class="floor-text">不绣钢加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-3.jpg') %>" alt="不绣钢加热板" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100014">
                            <span class="floor-text">碳化硅加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-4.jpg') %>" alt="碳化硅加热板" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100015">
                            <span class="floor-text">铸铝加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-5.jpg') %>" alt="铸铝加热板" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-wrap">
                <h1 class="floor-title">F3 电加热圈系列</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100016">
                            <span class="floor-text">铸铝加热圈</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-1.jpg') %>" alt="女装" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100017">
                            <span class="floor-text">陶瓷加热圈</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-2.jpg') %>" alt="陶瓷加热圈" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100018">
                            <span class="floor-text">石英加热圈</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-3.jpg') %>" alt="石英加热圈" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100019">
                            <span class="floor-text">硅橡胶加热圈</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-4.jpg') %>" alt="硅橡胶加热圈" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100020">
                            <span class="floor-text">铸铜加热圈</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-5.jpg') %>" alt="铸铜加热圈" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-wrap">
                <h1 class="floor-title">F4 电热板系列</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100021">
                            <span class="floor-text">不锈钢加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-1.jpg') %>" alt="不锈钢加热台" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100022">
                            <span class="floor-text">铸铝加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-2.jpg') %>" alt="铸铝温控加热台" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100023">
                            <span class="floor-text">石墨加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-3.jpg') %>" alt="石墨加热板" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100024">
                            <span class="floor-text">铸铜加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-4.jpg') %>" alt="铸铜加热板" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100025">
                            <span class="floor-text">陶瓷加热板</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-5.jpg') %>" alt="陶瓷加热板" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-wrap">
                <h1 class="floor-title">F5 电加热设备</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100026">
                            <span class="floor-text">导热油加热设备</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-1.jpg') %>" alt="导热油加热设备" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100027">
                            <span class="floor-text">风道加热设备</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-2.jpg') %>" alt="风道加热设备" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100028">
                            <span class="floor-text">管道加热设备</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-3.jpg') %>" alt="管道加热设备" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100029">
                            <span class="floor-text">铸造件加热设备</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-4.jpg') %>" alt="铸造件加热设备" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100030">
                            <span class="floor-text">空气加热设备</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-5.jpg') %>" alt="空气加热设备" />
                        </a>
                    </li>
                </ul>
            </div>
    
       <%= require('html-loader!./layout/footer.html')  %>

    </body>
</html>