<div class="header">
   
  <div class="w">
  <a class="logo" href="./index.html">百汇制造</a>
    <div class="search-con">
        <input class="search-input" id="search-input" placeholder="请输入商品名称" />
        <button class="btn search-btn" id="search-btn">搜索</button>
       <div class="contact-phone">
          <img src="../../image/icon/telephone.png">
          <span>18705146221</span>  

      </div>
    </div> 

  
     <ul class="menu-item">
        <li><a href="./index.html" id="home">首页</a></li>
        <li><a href="#" id="productCenter">产品中心</a></li> 
        <li><a href="./contact.html" id="contactUs">联系我们</a></li>
        <li><a href="./about.html" id="about">关于我们</a></li>
     </ul> 

  </div>
</div>