/*
* @Author: tangxiewen
* @Date:   2017-12-02 22:25:34
* @Last Modified by:   tangxiewen
* @Last Modified time: 2017-12-02 22:25:42
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #0bc;
    text-decoration: none;
}